*{
   
}

.container{
    width: 100%;
    height:100px;
    background-color: red;
}
/* min width: a partir de ese ancho (valor) screen: hace referencia a pantalla */
@media screen and (min-width: 600px){ /* dentro de parentesis defino tamaño de pantalla */
  .container{
      background-color: green;
  }
}
@media (min-width: 768px){ /* dentro de parentesis defino tamaño de pantalla */
    .container{
        background-color: orange;
    }
  }
  /* a partir de 768 naranja */

  @media (max-width: 425px){ /* max: hasta ese valor 425 va a ser rosa */
    .container{
        background-color:orchid;
    }
  }


  @media (max-width: 426px) and (max-width: 599px){ 
    .container{
        background-color:palegreen
    }
  }

  